body{
  background-color: rgb(109, 87, 129);
}

.app{
 background-color: rgb(238, 208, 208);
 min-height: 100vh;
 width:400px;
 margin:25px auto;

  }
 .crossed{
   text-decoration:line-through 2px red;
   background-color:rgb(233, 223, 244); ;
 }
ul,li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
.container{
 display: flex;
 justify-content: center;
}
.add{
  margin-top: 5px;
  background-color: #9e9797;
  padding: 10px;
  border: none;
  width: 52vh;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;

}
.delete{
  margin-bottom: 5px;
  background-color: #703f7e;
  padding: 10px;
  border: none;
  width: 52vh;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

input{
  flex:1;
  background-color: #efe1f3;
  padding:8px;
  margin:16px;
  font-family: 'Montserrat', sans-serif;
 
}
